.routine-exercise-list{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-exercise-area {
  text-align: center;
}

.add-exercise-button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: rgba(81, 85, 163, 1);
  border: none;
}
