.routine-type-toggle {
  display: flex;
  align-items: center;
  width: 175px;
  height: 35px;
  position: relative;
  background-color: rgba(224, 224, 224, 1);
  border-radius: 20px;
  padding: 4px;
  gap: 4px;
}

.active-slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  background-color: rgba(79, 70, 229, 1);
  border-radius: 20px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.active-slider.right {
  transform: translateX(100%);
}

.toggle-button {
  flex: 1;
  position: relative;
  z-index: 10;
  padding: 8px 0;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background-color: transparent;
  transition: color 0.2s;
}

.toggle-button[data-active="true"] {
  color: rgba(255, 255, 255, 1);
}
