.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  color: var(--gray-090);
}

.title {
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 700;
}

.loginBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}
