.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: 600;
  min-height: calc(100vh - 60px);
}

.title {
  margin-bottom: 60px;
  font-size: 1.5rem;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 320px;
  height: 170px;
  padding: 0;
}
