.community-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin-bottom: 9px;
}

.community-input-container {
  display: flex;
  max-width: 610px;
  justify-content: center;
  margin-bottom: 9px;
  background-color: rgba(220, 220, 220, 1);
  border-radius: 22px;
}

.community-input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 44px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: rgba(202, 202, 202, 1);
  opacity: 0;
  visibility: hidden;
}

.community-input-container.focused .community-input-icon {
  opacity: 1;
  visibility: visible;
}

.community-input-icon img {
  width: 20px;
  height: 20px;
}

.community-input {
  width: 530px;
  font-size: 16px;
  font-weight: 500;
}

.community-input-container button {
  width: 80px;
  height: 44px;
  border: none;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  background-color: rgba(81, 85, 163, 1);
  cursor: pointer;
  flex-shrink: 0;
}

.community-input-container button img {
  width: 30px;
  height: 30px;
  /* 드래그 방지 */
  user-select: none;
  -webkit-user-select: none; /* 크롬, 사파리 등 Webkit 기반 브라우저 */
  -moz-user-select: none; /* 파이어폭스 */
  -ms-user-select: none; /* 인터넷 익스플로러, 엣지 */
}

.community-tag-container {
  display: flex;
  justify-content: center;
  gap: 7px;
  width: 100%;
  margin-bottom: 9px;
}

.community-tag {
  width: 90px;
  height: 26px;
  border-radius: 13px;
  background-color: rgba(124, 124, 124, 1);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
  color: white;
  cursor: pointer;
  /* 드래그 방지 */
  user-select: none;
  -webkit-user-select: none; /* 크롬, 사파리 등 Webkit 기반 브라우저 */
  -moz-user-select: none; /* 파이어폭스 */
  -ms-user-select: none; /* 인터넷 익스플로러, 엣지 */
}

.community-tag.active {
  background-color: rgba(81, 85, 163, 1);
}

@media (max-width: 1024px) {
  .community-input {
    width: 100%;
  }

  .community-input-container {
    width: 100%;
  }
}
