.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.page {
  width: 100%;
  padding: 0 16px;
  background-color: var(--gray-000);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.headerLeft {
  flex-grow: 1;
}
.headerRight {
  flex-shrink: 0;
  min-width: 80px;
}

.createBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.selectWrap,
.featureOptionsContainer {
  flex-grow: 1;
  padding: 10.5px 0;
  border-bottom: 1px solid var(--gray-020);
}

.featureOptionsContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 15px;
  color: var(--gray-080);
}

.featureItem:hover {
  color: var(--primary-060);
}

.featureIcon {
  width: 18px;
}

.clearGoalBtn {
  border: none;
  background: none;
  font-weight: 600;
  color: var(--danger-060);
  cursor: pointer;
}

.titleInput {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid var(--gray-030);
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-095);
  outline: none;
}

.titleInput::placeholder {
  color: var(--gray-040);
}

.contentTextarea {
  width: 100%;
  min-height: 300px;
  padding: 15px 10px;
  border: none;
  font-size: 16px;
  resize: none;
  outline: none;
  color: var(--gray-090);
}

.contentTextarea::placeholder {
  color: var(--gray-040);
}

.goalPanelWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .page {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  .createBox {
    flex-direction: row;
    gap: 30px;
  }
}
