.community-list-item {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

.community-list-item__category {
  font-size: 10px;
  color: rgba(62, 114, 184, 1);
}

.community-list-item__content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 990px;
}

.community-list-item__main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.community-list-item__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 17px;
}

.community-list-item__meta-list {
  display: flex;
  gap: 9px;
}

.community-list-item__meta-item {
  display: flex;
}

.community-list-item__icon {
  width: 17px;
  margin-right: 5px;
}

.community-list-item__icon-text {
  font-size: 10px;
  font-weight: 300;
}

.community-list-item__extra-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.community-list-item__likes {
  display: flex;
}

.community-list-item__date {
  font-size: 10px;
  color: rgba(152, 152, 152, 1);
}

@media (max-width: 1024px) {
  .community-list-item__content-wrap {
    width: 100%;
  }
}
