.item {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 15px;
}

.category {
  font-size: 10px;
  color: rgba(62, 114, 184, 1);
  margin-bottom: 4px;
}

.contentWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.metaList {
  display: flex;
  gap: 12px;
  padding: 0;
  list-style: none;
}

.metaItem {
  display: flex;
  align-items: center;
}

.icon {
  width: 17px;
  margin-right: 5px;
}

.iconText {
  font-size: 11px;
  font-weight: 300;
}

.extraInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.likes {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.date {
  font-size: 10px;
  color: rgba(152, 152, 152, 1);
}