.container {
  max-width: 990px;
  width: 100%;
  padding: 10px 20px 0;
  border-top: 2px solid rgba(63, 50, 144, 1);
}

.noData {
  text-align: center;
  margin-top: 50px;
  color: #888;
  font-size: 14px;
}