.goal-selection-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  border-radius: 12px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 0px;
  margin-top: 10px;
}

.close-button {
  align-self: flex-end;
  color: rgba(47, 47, 47, 1);
  cursor: pointer;
  font-size: 16px;
}

.panel-options {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.option-button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 5px 0;
  cursor: pointer;
  font-weight: 600;
}

.goal-select {
}

.add-without-goal {
}

.goal-list-step{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.goal-list-scroll,
.detail-content-scroll {
  flex: 1;
  overflow-y: auto; /* 리스트가 길어지면 내부 스크롤 */
  padding: 10px 5px;
}

.confirm-selection-button {
  width: 100%;
  padding: 12px;
  background-color: #5d5fef;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
}

.page-header p {
  color: #ff4d4d; /* 이미지의 빨간색 뒤로가기 반영 */
  cursor: pointer;
  font-weight: bold;
}
