.custom-select-box-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.custom-select-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.select-arrow {
  transition: transform 0.3s;
  font-size: 10px;
}

.select-arrow.open {
  transform: rotate(180deg);
}

.custom-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  border: 1px solid #c9c9c9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: rgb(231, 231, 231);
}

.dropdown-item.selected {
  background-color: #f5f5ff;
}

.radio-indicator {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: white;
  box-sizing: border-box;
}

.dropdown-item.selected .radio-indicator {
  border-color: #5856d6;
  background-color: #5856d6;
  box-shadow: inset 0 0 0 4px white;
}
