.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%; 
  min-height: 150px; 
}

.bar {
  width: 18px;
  border-radius: 4px 4px 0 0;
  transition: height 0.5s ease-out;
}

.maxBar {
  composes: bar;
  background-color: var(--gray-020);
}

.currentBar {
  composes: bar;
  background-color: var(--primary-050);
}

.valueLabel {
  font-size: 13px;
  font-weight: 600;
  color: var(--gray-080);
}

.partLabel {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-align: center;
}