.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%; 
  min-height: 150px; 
}

.bar {
  width: 18px;
  border-radius: 4px 4px 0 0;
  transition: height 0.5s ease-out;
}

.maxBar {
  composes: bar;
  background-color: rgba(189, 189, 237, 1);
  margin-left: 2px;
}

.currentBar {
  composes: bar;
  background-color: rgba(69, 58, 245, 1);
  margin-right: 2px;
}

.valueLabel {
  font-size: 14px;
  font-weight: 500;
  color: rgba(69, 58, 245, 1);
  text-align: center;
  margin-top: 8px;
}

.partLabel {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-align: center;
}