.circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 500;
  color: var(--gray-080);
}

.today {
  background-color: var(--primary-050);
  color: #fff;
}

.workout {
  border: 1px solid var(--primary-050);
  color: var(--primary-050);
}

.whiteText {
  color: #ffffff;
}
