.circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  transition: all 0.2s ease;
  background-color: transparent;
}

.today {
  background-color: #4a508e;
  color: #fff;
  border: 2px solid #999;
}

.workout {
  background-color: #4caf50;
  color: #fff;
}

.whiteText {
  color: #ffffff;
}
