.today-routine{
  margin-bottom: 10px;
}

.today-routine-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.today-routine-title{
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}