.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  overflow: hidden;
  width: 100%;
  background-color: var(--gray-005);
  border-radius: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-out;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
