.section {
  margin-bottom: 15px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}

.emptyTitle {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #888;
  margin-top: 5px;
}