.container {
  margin-bottom: 20px;
  background-color: var(--gray-000);
  border-radius: 12px;
}

.contentWrapper {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  padding-top: 12px;
}

.muscleMapWrapper {
  width: 80px;
  flex-shrink: 0;
}

.infoSection {
  display: flex;
  flex: 1;
  max-width: 230px;
  flex-direction: column;
}

.dayHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--gray-060);
  text-align: center;
}

.dayItem {
  width: 30px;
  font-weight: 500;
}

.dateContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* 요약 정보 영역 */
.summaryWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  padding: 12px;
  background-color: var(--gray-005);
  border-radius: 8px;
}

.summaryItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summaryLabel {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-060);
  margin-bottom: 4px;
}

.summaryValue {
  font-size: 22px;
  font-weight: 700;
  color: var(--gray-090);
}

.verticalLine {
  width: 1px;
  height: 28px;
  background-color: var(--gray-020);
}
