.week-info__container {
  margin-bottom: 10px;
}

.week-info__content-wrapper {
  display: flex;
  gap: 10px;
}

.week-info__muscle-map-wrapper {
  width: 80px;
}

.week-info__info-section {
  display: flex;
  width: 230px;
  flex-direction: column;
}

/* 요일 헤더 */
.week-info__day-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;
  opacity: 0.7;
  text-align: center;
}

.week-info__day-item {
  width: 30px;
}

/* 날짜 원형 */
.week-info__date-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* =================================================================
 * 4. 요소: summary-wrapper (요약 정보 영역)
 * ================================================================= */

.week-info__summary-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.week-info__summary-item {
  flex: 1;
  padding-right: 15px;
  text-align: end;
}

.week-info__summary-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.week-info__summary-value {
  font-size: 24px;
  font-weight: 600;
  color: rgba(62, 114, 184, 1); /* 강조 색상: 밝은 파란색 */
}

.week-info__summary-line{
  width: 1px;
  height: 80%;
  background-color: rgba(189, 189, 189, 0.8);
}