.weight-chart__container {
}

.weight-chart__chart-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end; 
  height: 200px; 
  padding-top: 10px;
  margin-bottom: 15px;
}

.weight-chart__legend-container {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.weight-chart__legend-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.weight-chart__legend-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-right: 8px;
}

.weight-chart__legend-color--current {
  background-color: rgba(69, 58, 245, 1);
}

.weight-chart__legend-color--max {
  background-color: rgba(189, 189, 237, 1);
}
