.container {
  width: 100%;
  padding: 10px 0;
}

.chartArea {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px;
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: var(--gray-005);
  border-radius: 12px;
}

.legendArea {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 13px;
  font-weight: 500;
  color: var(--gray-070);
}

.legendItem {
  display: flex;
  align-items: center;
}

.colorBox {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-right: 8px;
}

.currentBox {
  composes: colorBox;
  background-color: var(--primary-050);
}

.maxBox {
  composes: colorBox;
  background-color: var(--gray-020);
}
