.goalInfoSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.nameInputWrapper {
  margin-bottom: 4px;
}

.toggleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goalWeeksWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--gray-080);
}

.goalWeekLabel {
  font-weight: 500;
}

.goalWeekInput {
  width: 44px;
  border: none;
  border-bottom: 1px solid var(--primary-050);
  background: transparent;
  text-align: center;
  font-size: 14px;
  color: var(--gray-090);
}

.goalWeekInput:focus {
  outline: none;
  border-bottom-color: var(--primary-060);
}

.goalWeekUnit {
  font-weight: 500;
}
