.goals-form-container {
}

.goals-form-container__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.goals-form-container__button-box {
  display: flex;
  gap: 5px;
}

.goals-form-container__button-box button {
  width: 70px;
  height: 30px;
  border-radius: 7px;
}

.cancel-button {
  border: 1px solid rgba(231, 46, 40, 1);
  cursor: pointer;
}

.cancel-button:hover {
  background-color: rgba(254, 226, 226, 0.5);
}

.save-button {
  background-color: rgba(81, 85, 163, 1);
  border: none;
  color: white;
  cursor: pointer;
}

.save-button:hover {
  background-color: rgba(67, 56, 202, 1);
}

.goals-form-container__add-exercise {
  font-size: 18px;
  font-weight: 600;
  color: rgba(81, 85, 163, 1);
  text-align: center;
}
