.goalNameInput {
  display: flex;
  align-items: center;
  gap: 6px;
}

.text {
  font-size: 16px;
  font-weight: 700;
  color: var(--gray-095);
  margin: 0;
}

.textInput {
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid var(--gray-030);
  background: transparent;
  padding: 2px 0;
  color: var(--gray-095);
}

.textInput:focus {
  outline: none;
  border-bottom-color: var(--primary-050);
}

.icon {
  width: 18px;
  cursor: pointer;
}
