.goal-name-input {
  display: flex;
  gap: 5px;
}

.goal-name-input__text-input {
  min-width: 50px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.goal-name-input__text-input:focus {
  caret-color: rgba(47, 47, 47, 1);
  background-color: transparent;
}

.goal-name-input__text {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goal-name-input__icon {
  width: 20px;
  cursor: pointer;
}
