.goalNameInput {
  display: flex;
  gap: 5px;
  align-items: center;
}

.textInput {
  min-width: 50px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  padding: 2px 0;
}

.textInput:focus {
  caret-color: rgba(47, 47, 47, 1);
  background-color: transparent;
  border-bottom: 1px solid rgba(81, 85, 163, 1);
}

.text {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.icon {
  width: 20px;
  cursor: pointer;
  display: block;
}