.bodyPartFilterScroll {
  margin-bottom: 20px;
}

.bodyPartFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.filterButton {
  padding: 6px 16px;
  border: 1px solid var(--gray-020);
  border-radius: 20px;
  background-color: var(--gray-000);
  font-size: 13px;
  font-weight: 500;
  color: var(--gray-070);
  cursor: pointer;
}

.filterButton:hover {
  background-color: var(--gray-005);
}

.active {
  background-color: var(--primary-050);
  color: var(--gray-000);
  border-color: var(--primary-050);
}