.bodyPartFilterScroll {
  margin-bottom: 20px;
}

.bodyPartFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-bottom: 10px;
}

.filterButton {
  padding: 4px 18px;
  border: none;
  border-radius: 20px;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.active {
  background-color: rgba(81, 85, 163, 1);
  color: white;
}