.tabNavigation {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.tabNavigationButton {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray-050);
  background: none;
  border: none;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.active {
  color: var(--primary-060);
  border-bottom-color: var(--primary-050);
}
