.weekdaySelector {
  display: flex;
  gap: 6px;
}

.weekdaySelector span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 400;
  color: #888;
}

.activeDay {
  background-color: rgba(81, 85, 163, 1) !important;
  color: #fff !important;
}