.weekdaySelector {
  display: flex;
  gap: 4px;
}

.weekdaySelector span {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-060);
}

.activeDay {
  background-color: var(--primary-050);
  color: var(--gray-000) !important;
  font-weight: 600;
}