.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: lightgray;
  box-shadow: 0px 2px 2px rgba(189, 189, 189, 1);
}

.logo {
  color: rgba(46, 47, 47, 1);
}

.menuContainer {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  color: rgba(46, 47, 47, 1);
  font-weight: 300;
  font-size: 10px;
  cursor: pointer;
}

.menuIcon {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}

.logoutBtn {
  cursor: pointer;
}