.main-content {
  display: flex;
  height: 100%;
  min-height: calc(100vh - 60px);
}

.left-content {
  width: 100%;
  padding: 20px;
  box-shadow: inset -2px 2px 8px rgba(189, 189, 189, 1);
}

.right-content {
  width: 100%;
  max-width: 360px;
  padding: 20px;
}

@media (max-width: 720px) {
  .left-content {
    display: none;
  }
  .right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
}
