.mainContent {
  display: flex;
  height: 100%;
  min-height: calc(100vh - 60px);
}

.leftContent {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-shadow: inset -2px 2px 8px var(--gray-020);
}

.rightContent {
  width: 100%;
  max-width: 360px;
  padding: 20px;
}

/* 반응형 처리 */
@media (max-width: 720px) {
  .leftContent,
  .rightContent {
    display: none;
    max-width: 100%;
    width: 100%;
  }

  .mainContent.showLeft .leftContent {
    display: flex;
    justify-content: center;
  }

  .mainContent.showRight .rightContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
