.weekday-selector {
  display: flex;
  gap: 6px;
}

.weekday-selector span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  font-size: 13px;
  font-weight: 400;
  color: #888;
}

.weekday-selector span.active-day {
  background-color: rgba(81, 85, 163, 1);
  color: #fff;
}
