.exercise-record-section h4{
  margin-bottom: 10px;
}

.exercise-record-section__stats-list{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding-bottom: 10px;
}

.exercise-record-section__stats-list li{
  display: flex;
  flex-direction: column;
}

.exercise-record-section__stats-list li div{
  font-size: 15px;
  font-weight: 500;
}

.exercise-record-section__stats-list li div span{
  font-size: 16px;
  font-weight: 600;
  color: rgba(62, 114, 184, 1);
}

.exercise-record-section__stats-list li p{
  font-size: 12px;
  font-weight: 400;
  color: rgba(101, 101, 101, 1);
}

.exercise-record-section__recent-logs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}