.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container h4 {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 700;
  color: var(--gray-090);
}

.statsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 16px;
  background-color: var(--gray-005);
  border-radius: 12px;
  border: 1px solid var(--gray-010);
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.value {
  font-size: 15px;
  font-weight: 600;
  color: var(--gray-090);
}

.unit {
  font-size: 13px;
  color: var(--primary-060);
  margin-left: 2px;
}

.label {
  font-size: 11px;
  color: var(--gray-050);
  margin-top: 4px;
}

.recentLogs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.emptyText {
  font-size: 13px;
  color: var(--gray-050);
  text-align: center;
  padding: 16px 0;
}