.exercise-list-item {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid rgba(47, 47, 47, 1);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 1);
}

.exercise-list-item:hover {
  background-color: rgba(239, 239, 239, 1);
}

.exercise-list-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exercise-list-item__name {
  font-weight: 600;
}

.exercise-list-item__tag {
  padding: 2px 8px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.exercise-list-item__tag--routine {
  background-color: rgba(81, 85, 163, 1);
}
.exercise-list-item__tag--challenge {
  background-color: rgba(124, 124, 124, 1);
}
.exercise-list-item__tag--single {
  background-color: rgba(81, 85, 163, 1);
}

.exercise-list-item__detail-initial {
  font-size: 14px;
  color: rgba(124, 124, 124, 1);
  margin-bottom: 5px;
}

.exercise-list-item__right-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.exercise-list-item__time {
  font-size: 24px;
  font-weight: 500;
  color: rgba(62, 114, 184, 1);
}

.exercise-list-item__date {
  font-size: 10px;
  color: rgba(152, 152, 152, 1);
}

.exercise-list-item__expanded-content {
  padding: 10px;
  border-top: 1px dashed rgba(189, 189, 189, 1);
  animation: fadeIn 0.3s ease-out;
}

.exercise-list-item__set-log {
  margin: 2px 0;
  font-size: 15px;
  color: rgba(124, 124, 124, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}