.memo-area-secion h4{
  margin-bottom: 3px;
}

.memo-area{
  width: 100%;
  height: 200px;
  resize: none;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.memo-area.focus{
  background-color: white;
  caret-color: auto;
  cursor: text;
}