.goals-detail-page {
}

.goal-info {
}

.goal-meta {
  font-size: 12px;
  color: #888;
  margin-bottom: 20px;
}

.exercise-content {
  padding: 0 20px;
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.goal-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goal-actions button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.start-button {
  background-color: rgba(81, 85, 163, 1);
  color: #fff;
}

.end-button {
  background-color: rgba(220, 220, 220, 1);
  color: #333;
}

.goals-detail-page__error-message {
  text-align: center;
  margin-top: 50px;
}
