.goalListPage {
  background-color: var(--gray-000);
}

.statusTabsContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--gray-020);
}

.statusTab {
  background-color: transparent;
  position: relative;
  top: 1px;
  padding: 8px 16px 12px;
  color: var(--gray-060);
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.statusTabActive {
  color: var(--primary-060);
  border-bottom: 3px solid var(--primary-050);
}

.goalListScrollArea {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 528px;
  overflow-y: auto;
  padding-bottom: 48px;
}

.noResults {
  text-align: center;
  color: var(--gray-050);
  margin-top: 48px;
  font-size: 14px;
}