.statusTabsContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(202, 202, 202, 1);
}

.statusTab {
  background-color: transparent;
  position: relative;
  top: 3px;
  padding: 5px 15px 14px 15px;
  color: #777;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s;
}

.statusTabActive {
  color: rgba(81, 85, 163, 1);
  border-bottom: 4px solid rgba(81, 85, 163, 1);
  padding-bottom: 10px;
}

.goalListScrollArea {
  height: 528px;
  overflow-y: auto;
  padding-bottom: 50px;
}

.noResults {
  text-align: center;
  color: #aaa;
  margin-top: 50px;
}