.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  background-color: var(--primary-040);
  border: none;
  border-radius: 6px;
  color: var(--gray-000);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  /* 드래그 방지 */
  user-select: none;
  -webkit-user-select: none; /* 크롬, 사파리 등 Webkit 기반 브라우저 */
  -moz-user-select: none; /* 파이어폭스 */
  -ms-user-select: none; /* 인터넷 익스플로러, 엣지 */
}

.button:hover {
  background-color: var(--primary-050);
}
.button:disabled {
  background-color: var(--gray-020);
  cursor: not-allowed;
}