.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background-color: rgba(81, 85, 163, 1);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  /* 드래그 방지 */
  user-select: none;
  -webkit-user-select: none; /* 크롬, 사파리 등 Webkit 기반 브라우저 */
  -moz-user-select: none; /* 파이어폭스 */
  -ms-user-select: none; /* 인터넷 익스플로러, 엣지 */
}
