input:focus {
  background-color: transparent;
  caret-color: rgba(81, 85, 163, 1);
}

.exercise-item-card {
  position: relative;
  padding: 10px 15px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  cursor: pointer;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-header-left {
  display: flex;
  gap: 20px;
}

.exercise-title {
  display: flex;
  align-items: end;
  gap: 4px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(47, 47, 47, 1);
}

.exercise-title span {
  line-height: 18px;
}

.set-count {
  font-size: 12px;
  font-weight: 400;
  color: rgba(152, 152, 152, 1);
}

.remove-button-wrapper {
  display: flex;
  align-items: center;
}

.remove-exercise-button {
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(47, 47, 47, 1);
  font-size: 24px;
  transition: color 0.2s;
}

.remove-exercise-button:hover {
    color: rgba(231, 46, 40, 1)
}

.item-details {
  padding: 10px 10px 10px;
}

.day-selection-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.day-buttons {
  display: flex;
  gap: 5px;
}

.day-button {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: rgba(101, 101, 101, 101);
  border: none;
  cursor: pointer;
}

.day-button.active {
  background-color: rgba(81, 85, 163, 1);
  color: white;
}

.item-info-container {
  display: flex;
  justify-content: space-between;
}

.item-info-container svg {
  position: relative;
  right: 10px;
}

.rest-time-group {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(189, 189, 189, 1);
  gap: 5px;
  padding: 0 5px;
}

.rest-time-label {
  font-size: 14px;
  font-weight: 400;
}

.item-input {
  position: relative;
  bottom: 2px;
  width: 40px;
  text-align: center;
  background-color: transparent;
  border-bottom: 2px solid rgba(81, 85, 163, 1);
}

.set-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.set-row {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 30px;
  background-color: rgba(220, 220, 220, 1);
  border-radius: 6px;
}

.set-number {
  font-size: 18px;
  font-weight: 700;
  color: rgba(81, 85, 163, 1);
}

.unit-label {
  color: rgba(152, 152, 152, 1);
  font-weight: 400;
}

.remove-set-button {
  font-size: 12px;
  background-color: transparent;
  color: rgba(231, 46, 40, 1);
  border: none;
  cursor: pointer;
}

.add-set-button {
  color: rgba(152, 152, 152, 1);
  font-weight: 400;
  height: 30px;
  background-color: rgba(220, 220, 220, 1);
  border: none;
  border-radius: 6px;
}
