.container {
  display: flex;
  gap: 4px;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.container:hover {
  background-color: #f1f5fb;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: var(--gray-060);
  border-radius: 50%;
}

.active .dot,
.container:hover .dot {
  background-color: var(--secondary-050);
}
