.card {
  color: var(--gray-000);
  border: 1px solid var(--gray-020);
  border-radius: 10px;
  padding: 14px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.completed {
  opacity: 0.85;
}

.typeBox {
  font-size: 11px;
  font-weight: 700;
  color: var(--gray-000);
  padding: 2px 6px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.typeRoutine {
  background-color: var(--secondary-050);
}
.typeChallenge {
  background-color: var(--gray-040);
}
.typeDefault {
  background-color: var(--secondary-030);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.toggleWrapper{
  position: relative;
}

.meta {
  display: flex;
  justify-content: space-between;
}

.category {
  font-size: 12px;
  color: #666;
}

.setData {
  font-size: 13px;
  color: #444;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.durationText {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-050);
}

.dateText {
  font-size: 11px;
  color: #999;
}
