.body {
  stroke: var(--gray-050);
  stroke-miterlimit: 10;
  stroke-width: 0.4px;
  fill: none;
}

.active {
  fill: var(--primary-050);
}

.inactive {
  fill: var(--gray-010);
}

.active:hover,
.inactive:hover {
  stroke: var(--gray-070);
  stroke-width: 0.8px;
}
