.container {
  display: flex;
  border-bottom: 1px solid var(--gray-010);
}

.tabItem {
  flex: 1;
  padding: 10px 0;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid var(--secondary-050);
  font-weight: 700;
  color: var(--secondary-050);
}
