.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(202, 202, 202, 1);
}

.tabItem {
  background-color: transparent;
  position: relative;
  top: 3px;
  padding: 5px 15px 14px 15px;
  color: #777;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.active {
  border-bottom: 4px solid rgba(81, 85, 163, 1);
  padding-bottom: 10px;
  color: rgba(47, 47, 47, 1);
}
