.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.chevron {
  width: 16px;
  height: 16px;
  border-style: solid;
  border-color: #555;
  border-width: 0 5px 5px 0;
  border-radius: 4px;
  padding: 0;
}

.chevron-up {
  position: relative;
  top: 6px;
  transform: rotate(-135deg);
}

.chevron-down {
  transform: rotate(45deg);
}
