.container {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container:hover {
  background: var(--gray-010);
}

.chevron {
  width: 8px;
  height: 8px;
  border: solid var(--gray-070);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.2s;
}

.active {
  transform: rotate(-135deg);
}
