.container {
  width: 100%;
}

.noData {
  padding: 40px 16px;
  text-align: center;
  font-size: 14px;
  color: var(--gray-050);
  border: 1px dashed var(--gray-020);
  border-radius: 8px;
}

.highlight {
  color: var(--secondary-050);
  font-weight: 700;
}