.group {
  margin-bottom: 24px;
}

.header {
  font-size: 14px;
  font-weight: 700;
  padding-left: 8px;
  border-left: 4px solid var(--secondary-050);
  margin-bottom: 12px;
  color: #333;
}

.recordsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
