.exercise-form-container__header{
  display: flex;
  justify-content: space-between;
}

.form-cancel-button{
  border: none;
  background-color: none;
  color: rgba(231, 46, 40, 1);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}