.item {
  display: flex;
  align-items: center;
  width: 320px;
  height: 50px;
  padding: 0 16px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s;
  color: var(--gray-000);

  /* 드래그 방지 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.item:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.46);
}

.item:active {
  transform: scale(0.98);
}

.google {
  background-color: #f45a5c;
}

.naver {
  background-color: #27d34b;
}

.kakao {
  background-color: #ffeb00;
  color: #391f1e;
}

.icon {
  width: 22px;
  height: 22px;
}

.text {
  margin-left: 12px;
  font-size: 15px;
  font-weight: 600;
}
