.exerciseDetailPage {
  background-color: var(--gray-000);
}

.exerciseHeader {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.exerciseHeaderInfo {
  display: flex;
  flex-direction: column;
}

.exerciseName {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: var(--gray-090);
}

.exerciseMeta {
  font-size: 14px;
  color: var(--gray-060);
  line-height: 1.5;
}

.errorState {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: var(--danger-060);
  font-weight: 600;
}