* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  caret-color: transparent;
}

input:focus {
  caret-color: white;
  outline: none;
  background-color: rgba(202, 202, 202, 1);
}

input {
  border: none;
  background-color: rgba(220, 220, 220, 1);
  /* caret-color:auto;  */
}

.main-container {
  width: 100%;
  background-color: white;
}

.main-content {
  display: flex;
}
