:root {
  background-color: #242424;
  font-family: "Escoredream";
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  caret-color: transparent;
}

input:focus {
  caret-color: white;
  outline: none;
  background-color: rgba(202, 202, 202, 1);
}

input {
  border: none;
  background-color: rgba(220, 220, 220, 1);
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream1.otf");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream2.otf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream3.otf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream4.otf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream5.otf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream6.otf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream7.otf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream8.otf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream9.otf");
  font-weight: 900;
  font-display: swap;
}
