:root {
  background-color: #242424;
  height: 100%;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Escoredream";
  font-weight: 400;
  list-style-type: none;
  box-sizing: border-box;
  caret-color: transparent;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

div::-webkit-scrollbar,
ul::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 배경 색상 */
div::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track {
  background: rgba(220, 220, 220, 1);
  border-radius: 3px;
}

/* 스크롤바 핸들(움직이는 부분) 색상 */
div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
  background: rgba(112, 115, 181, 1);
  border-radius: 3px;
}

/* 마우스 오버 시 핸들 색상 */
div::-webkit-scrollbar-thumb:hover,
ul::-webkit-scrollbar-thumb:hover {
  background: rgba(81, 85, 163, 1);
}

input:focus {
  caret-color: white;
  outline: none;
  background-color: rgba(202, 202, 202, 1);
}

input {
  border: none;
  background-color: rgba(220, 220, 220, 1);
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream1.otf");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream2.otf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream3.otf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream4.otf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream5.otf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream6.otf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream7.otf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream8.otf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("/src/assets/fonts/SCDream9.otf");
  font-weight: 900;
  font-display: swap;
}
